$blue-400: #0077ff;
$blue-500: #004af8;

$red-500: #FF0000;

$grey-100: #FAFAFA;
$grey-300: #F2F2F2;
$grey-400: #EAEAEA;
$grey-500: #666666;
$grey-600: #333333;
$grey-700: #222222;
$grey-800: #111111;

$white: #FFFFFF;